body {
    overflow: hidden;
    background-color: #000;
    padding: 0;
    perspective: 6000px;
}

.layer {
    position: fixed;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.226);
    border-radius: 20px;
    background-color: rgb(67, 49, 83);
    height: 3000px;
    width: 100%;
    transition: all 1s;
    z-index: 40;
    opacity: 1;
}

.layer-show {
    transform: translate3d(0px, -30px, 100px) !important;
}

.layer-stack-1 {
    transform: translate3d(0px, 300px, -1500px);
    z-index: 30;
}

.layer-stack-2 {
    transform: translate3d(0px, 200px, -1700px);
    z-index: 20;
    transition: all .9s;
}

.layer-stack-3 {
    transform: translate3d(0px, 100px, -1900px);
    z-index: 10;
    transition: all .7s;
}

.layer-hide {
    transform: translate3d(0px, 1000px, -1500px) !important;
    opacity: 0;
}